<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.tudarmstadt.informatik.tk.android.assistance">

    <!-- Permissions -->
    <!-- none -->
    <application
        android:name=".App"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/main_activity_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ModulesActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.LoginActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.AccessibilityTutorialActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_accessibility_tutorial"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tudarmstadt.informatik.tk.android.assistance.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NoPlayServicesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/activity_no_play_services_title"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".activity.ModuleCapabilitiesPermissionActivity"></activity>
    </application>

</manifest>
